<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Index</title>
    </head>
    <body>
        <h1>ようこそ！！</h1>

        <form action="{{ confirm_url }}" method="get">
            <input size="28" type="text" name="file" placeholder="下の一覧からファイル名を入力してください">
            <input type="submit" value="確認する">
        </form>
        <form action="{{ init_db_url }}" method="get">
            <select name="db_init_file">
                <option value="">--ファイルを一覧から選んでください--</option>
                {% for file in files %}
                <option value={{ file }}>{{ file }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="初期化">
        </form>
        <p><a href="{{ list_url }}?messege=">一覧へ</a></p>

        <hr>
        <br>

        <div style="width: 400px; border-style: solid; border-color: #8ECAA0;">
          <a style="font-size: 12pt;"><i>大喜利は日本の文化の一つです。</i></a>
          <br>
          <a style="font-size: 12pt;"><i>写真を見てジョークを書いてみましょう。</i></a>
          <br>
          <a style="font-size: 12pt;" href="https://www.youtube.com/watch?v=p6jApKn_Bdo"><i>大喜利の例</i></a>
        </div>

    </body>
</html>
